.ToDo {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.appHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  background-color: #3e344d;
  height: 6.5rem;
  padding: 25px 15px 20px 15px;
  border-bottom: 2.5px solid #09a3c1;
  border-radius: 7px 7px 0 0;
}

.appHeader__headerTitle {
  font-size: 2.2em;
  letter-spacing: 0.05em;
  color: #056d82;
}

.appHeader__headerForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 2.5rem;
  margin-top: 10px;
}

.headerForm__input{
  width: 75%;
  padding: 5px 10px;
  background-color: #453a55;
  outline: none;
  border: none;
  color: #6be7ff;
  font-size: 1em;
}

.headerForm__input:focus{
  background-color: #4a3e5c;
  border-bottom: 1px solid #09a3c1;
}

.headerForm__btn_add{
  width: 20%;
  background-color: #035c6e;
  color: #09a3c1;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 0.8em;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  cursor: pointer;
}

.headerForm__btn_add:hover{
  background-color: #09a3c1;
  color: #035c6e;
}

.appList{
	margin: 0 auto;
	list-style: none;
	width: 98%;
}

.appList__newTask{
	position: relative;
	padding: 10px 8px 10px 38px;
	background-color: #b6abc6;
	font-size: 1em;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.appList__newTask:nth-child(odd){
	background-color: #a79aba;
}

.appList__newTask:hover{
	background-color: #d8cfe6;
	-webkit-transform: scaleX(1.005);
	        transform: scaleX(1.005);
}

.appList__newTask.done{
	background-color: #74658a;
	color: #fff;
	text-decoration: line-through;
}

.appList__newTask.done:nth-child(odd){
  background-color: #7a6a91;
}

.appList__newTask.done:hover{
  background-color: #66587a;
}

.newTask__checkArea{
  position: absolute;
  opacity: 0;
  height: 1.6rem;
  width: 1.6rem;
  z-index: 3;
  top: 7px;
	left: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}

.newTask__checkSumbol{
  position: absolute;
  top: 7.25px;
  left: 5px;
  outline: 2px solid #047990;
  height: 1.5rem;
  width: 1.5rem;
}

.newTask__checkSumbol.done{
  border-color: #09a3c1;
  outline: 2px solid #09a3c1;
}

.newTask__checkSumbol.done:before{
  content: '';
  position: absolute;
  top: 1px;
  left: 8px;
  height: 15px;
  width: 6px;
	border-color: #09a3c1;
	border-style: solid;
	border-width: 0 2.2px 2.2px 0;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.newTask__btn_close{
	position: absolute;
	right: 0;
	top: 0;
	padding: 7px 14px;
  font-size: 1.3em;
  color: #047990;
  cursor: pointer;
}

.newTask__btn_close:hover{
	background-color: #035c6e;
	color: white;
	-webkit-transition: ease all 0.5s;
	transition: ease all 0.5s;
}

.appFooter{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 3.5rem;
  background-color: #3e344d;
  border-top: 2.5px solid #09a3c1;
  border-radius: 0 0 7px 7px;
}

.appFooter__btn_state{
  border: none;
  outline: none;
  height: 35%;
  font-size: 1.2em;
  font-weight: bold;
  color: #035c6e;
  background-color: #3e344d;
  cursor: pointer;
}

.appFooter__btn_state:hover{
  color: #047990;
}

.appFooter__btn_state.active{
  color: #09a3c1;
}
